.nav__separator {
  margin: 0px 0 40px;
}

.booking__headline {
  color: #666666;
  max-width: 1000px;
  margin: 0 auto 30px;
}

.booking__empty {
  color: #666666;
  max-width: 1000px;
  margin: 0 auto 40px;
}

/* attraction */

.attraction {
  max-width: 980px;
  margin: 0 auto 40px;
  display: flex;
}

.attraction__imgarea {
  max-width: 250px;
  max-height: 200px;
  width: 100%;
  margin: 0px 30px 0 10px;
}

.attraction__info {
  position: relative;
  width: 100%;
}

.attraction__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.attraction__container {
  max-width: 980px;
  width: 100%;
  position: relative;
}

.attraction__content,
.attraction__title {
  color: #448899;
  margin-bottom: 20px;
}
.attraction__item {
  color: #666666;
  margin-bottom: 10px;
}
.icon__delete {
  height: 30px;
  width: 30px;
  position: absolute;
  right: 0;
  top: 0;
}

.separator {
  max-width: 1200px;
  margin: 0 auto 40px;
}

/* contact */

.contact {
  max-width: 980px;
  width: 100%;
  margin: 0 auto 40px;
}

.contact__title {
  color: #666666;
  margin-bottom: 20px;
}

.contact__subtitle,
.contact__notice {
  color: #666666;
}

.contact__field {
  margin-bottom: 15px;
}

.contact__input {
  border: #e8e8e8 1px solid;
  border-radius: 5px;
  max-width: 200px;
  width: 100%;
  max-height: 8px;
  height: 100%;
  padding: 10px;
}
.contact__input:focus {
  outline: 2px solid black;
}

/* payment */
.payment {
  max-width: 980px;
  width: 100%;
  margin: 0 auto 40px;
}

.payment__title {
  color: #666666;
  margin: 0 0 15px 0;
}

.payment__field {
  margin: 0 0 20px 0;
}

.payment__label {
  color: #666666;
}

.payment__input {
  border: #e8e8e8 1px solid;
  border-radius: 5px;
  max-width: 200px;
  width: 100%;
  max-height: 8px;
  height: 100%;
  padding: 10px;
}

.payment__input:focus {
  outline: 2px solid black;
}

.confirm {
  max-width: 980px;
  width: 100%;
  height: 100%;
  margin: 0 auto 40px;
}

.confirm__field {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.confirm__price {
  margin-bottom: 22px;
  color: #666666;
}

.confirm__btn {
  padding: 10px 20px;
  background-color: #448899;
  color: #ffffff;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .attraction {
    flex-direction: column;
    width: 100%;
  }

  .attraction__imgarea {
    aspect-ratio: 340 / 200;
    max-width: 100%;
    width: 100%;
    margin: 0px 0px 20px 0px;
  }

  .attraction__info {
    margin-left: 10px;
    width: auto;
  }
  .attraction__img {
    flex: 1;
    object-fit: cover;
  }
  .icon__delete {
    top: auto;
    right: 0;
    bottom: 0;
  }
  .contact {
    margin-left: 10px;
    width: auto;
  }
}
