.attraction__content {
  color: #448899;
}
.tab_btn,
.update_btn,
.form_label,
.attraction__label,
.attraction__text {
  color: #666666;
}

.profile_container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.profile_form {
  max-width: 980px;
  margin: 0 auto 40px;
  display: flex;
}

.profile_tabs {
  max-width: 980px;
  margin: 20px auto 40px;
}

.tab_btn {
  padding: 0 10px 0;
}

.photo_editor {
  max-width: 250px;
  max-height: 200px;
  width: 100%;
  margin: 0px 30px 0 10px;
}
.user_headshot_group {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
}
.user_headshot_img {
  width: 250px;
  height: 200px;
  object-fit: cover;
}
.user_bio {
  position: relative;
  width: 100%;
}
.form_group {
  margin: 0px 0px 20px;
}
.profile__input {
  border: #e8e8e8 1px solid;
  border-radius: 5px;
  max-width: 200px;
  width: 100%;
  max-height: 8px;
  height: 100%;
  padding: 10px;
}
.profile__input:hover {
  border-color: #bbbbbb; /* 微微變深，暗示可點擊 */
}
.profile__input:focus {
  outline: 2px solid black;
  box-shadow: 0 0 0 3px rgba(68, 136, 153, 0.2);
}
.headshot_btn {
  text-align: center;
  align-items: center;
  background-color: #448899;
  padding: 5px 10px;
  color: #ffffff;
}
.update_btn {
  padding: 10px 20px;
  background-color: #448899;
  color: #ffffff;
  border-radius: 5px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 20px;
}

.order_card {
  max-width: 980px;
  margin: 0 auto 40px;
  display: flex;
}

.attraction__imgarea {
  max-width: 250px;
  max-height: 200px;
  width: 100%;
  margin: 0px 30px 0 10px;
}

.attraction__info {
  position: relative;
  width: 100%;
}

.attraction__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.attraction__container {
  max-width: 980px;
  width: 100%;
  position: relative;
}

.attraction__content,
.attraction__title {
  color: #448899;
  margin-bottom: 20px;
}
.attraction__item {
  color: #666666;
  margin-bottom: 10px;
}
@media (max-width: 600px) {
  .profile_form {
    flex-direction: column;
    width: 100%;
  }
  .user_bio {
    margin: 60px 0 40px;
    height: 200px;
  }

  .attraction {
    flex-direction: column;
    width: 100%;
  }
  .attraction__imgarea {
    aspect-ratio: 340 / 200;
    max-width: 100%;
    width: 100%;
    margin: 0px 0px 20px 0px;
  }

  .attraction__info {
    margin-left: 10px;
    width: auto;
  }
  .attraction__img {
    flex: 1;
    object-fit: cover;
  }
}
