@charset "UTF-8";
.navigation{
    width: 100%;
}
.navigation_inner{
    max-width: 1200px;
    padding:0 20px;
    height: 54px;
    display:flex;
    align-items:center;
}
.navigation_left{
    flex:auto;
}
.navigation_center{
    flex:1;
}
.navigation_right{
    display:flex;
    gap: 10px;
}